.footer {
    margin-top: 30px;
    background-color: map-get($colors, 'emerald-green');
    color: map-get($colors, 'white');
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer__content {
    margin-left: 80px;
    @include for-tablet-large {
        text-align: center;
    }
}

.footer__content-title {
    font-family: Avenir, sans-serif;
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.footer__content-menu--items {
    list-style: none;
    margin-left: 40px;
}

.footer__content-menu--item {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}