.footer {
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer__content-title {
    margin-bottom: 30px;
    margin-left: 40px;
}

.footer__content-menu--items {
    list-style: none;
}

.footer__content-menu--item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}