    .header__flex {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        @include for-tablet-large {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }
    }
    
    .header__menu {
        display: flex;
        padding-left: 0;
        margin-left: auto;
        @include for-tablet-large {
            margin-left: 0;
            flex-direction: column;
            align-self: stretch;
            text-align: center;
        }
    }
    
    .header__menu-items {
        display: flex;
        list-style: none;
        @include for-tablet-large {
            flex-direction: column;
            padding-left: 0;
        }
    }
    
    .header__menu-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        @include for-tablet-large {
            margin-right: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 2px solid map-get($colors, 'green');
            &:last-child {
                border-bottom: 2px solid map-get($colors, 'green');
            }
        }
    }
    
    .header__link {
        display: block;
        align-self: center;
        margin-left: 300px;
        margin-right: 20px;
        @include for-tablet-large {
            border: 2px solid map-get($colors, 'green');
            border-radius: 5px;
            margin: 10px;
            padding: 10px 30px;
            flex-direction: column;
            text-align: center;
        }
    }
    
    .header__btn {
        align-self: center;
        @include for-tablet-large {
            margin-top: 20px;
        }
    }