$colors: ( "green": #01996D, "black": #000000, "white": #ffffff, "emerald-green": #245852, "grey": #484848, );
$weight: ("normal": normal, "bold": bold, );
// $fonts: ("lato": Lato, "georgia": Georgia, "avenir": Avenir, );
$breakpoints-tablet-large: 1024px;
$breakpoints-tablet: 768px;
$breakpoints-mobile: 640px;