    .video-block {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 460px;
        background-color: map-get($colors, 'emerald-green');
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 70px;
        color: map-get($colors, 'white');
    }
    
    .video-block__content-title {
        font-family: Georgia, serif;
        line-height: 1.5;
        font-size: 45px;
    }
    
    .video-block__content-text {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .video-block__player {
        position: relative;
    }
    
    .video-block__player-image {
        position: absolute;
        bottom: 150px;
        left: 240px;
    }